numpy==2.1.3
pandas
scikit-learn
scipy
polars
matplotlib
pyod
wordcloud

langchain-core
langchain-community
langchain-chroma
langchain-cohere
langchain-text-splitters 
langgraph
langchain-groq
langchain-openai
langchain-huggingface
langchain-together

openpyxl

yfinance
